.about-heading {
  color: black;
}

.about-me {
  text-align: left;
}

.about-banner {
  height: 350px;
  background-image: url("../../img/about.jpg");
  background-size: cover;
  background-position: center center;
  
}
