.banner {
  height: 350px;
  background-image: url("../../img/hero-img.jpg");
  background-size: cover;
}

.banner-overlay {
  z-index:100;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.core-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.core-img {
  width: 100px;
}

.projects-div {
  background-color: rgba(0, 0, 0, 0.71);
  height: 200px;
  width: 300px;
  color: white;
  border-style: solid;
  border-width: 7px;
  border-radius: 10px;
  border-color: rgba(38, 38, 38, 0.88);
  margin: 10px;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
}

.projects-div:hover {
  background-color: rgba(0, 0, 0, 0.6);

}

.projects-div h3 {
  font-size: 24px;
  font-weight: 400;
}

.flex-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-list li {
  padding: 20px 30px;
}

.projects-section {
  background: #673AB7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.project-tech {
  border: solid;
  padding: 7px 15px;
  width: 50px;
  text-align: center;
  margin: auto;
}

.tech-section {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-section li {
  list-style: none;
  padding: 8px 15px;
  background-color:rgb(229, 229, 229);
  border-radius: 10px;
  margin: 8px 8px;
  border-width: 10px;
  font-family: 'Inconsolata', cursive;
}

.project-tech {
  padding: 8px 15px;
  list-style: none;
  border-color:rgba(0, 0, 0, 0.2);;
  border-radius: 6px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}