.contact-background {
  background: #673AB7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #512DA8, #673AB7);
  height: 100vh;
}