@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Titillium+Web:300i,400,600&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}


h1 {
  margin: 0;
  color: white;
  padding-top: 100px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 38px;
}


h2 {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}

.subheading {
  color: white;
  font-family: 'Inconsolata', monospace;
  font-style: italic;
}

header {
  height: 100%;
}

.section {
  padding: 50px 0px;
}

.container {
  width: 85%;
  margin: auto;
}

.flex-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-wrapper-2 {
  min-height: 100vh;
  display: flex;
}

.content {
  text-align: center;
  width: 100%;
}

.hero-img {
  width: 100%;
  max-height: 400px;
}


@media (max-width: 768px) {
  .content {
    padding-left: 0%;
    justify-content: center;
  }
}

@media (min-width: 769px) {
  .flex-wrapper-2{
    padding-left: 202px;
  }
}