@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Titillium+Web:300i,400,600&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

button {
  font-size: 26px;
  background-color: #347fc4;
  color: white;
  border-color: #989FCE;
  width: 200px;
  padding: 5px 0px;
}

h1 {
  margin: 0;
  color: white;
  padding-top: 75px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 38px;
}


h2 {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}

.subheading {
  color: white;
  font-family: 'Inconsolata', monospace;
  font-style: italic;
}

header {
  height: 100%;
}

.section {
  padding: 50px 0px;
}

.v-spacer-short {
  height: 10vh;
}

.container {
  width: 85%;
  margin: auto;
}

.flex-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-wrapper-2 {
  min-height: 100%;
  display: flex;
}

.content {
  text-align: center;
  width: 100%;
  justify-content: center;
}

.hero-img {
  width: 100%;
  max-height: 400px;
}

.contact-section {
  background-color: black;
  color: white;
}

@media (min-width: 769px) {
  .flex-wrapper-2{
    padding-left: 189px;
  }
}